<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
     <centre><img src="https://1000logos.net/wp-content/uploads/2018/07/Telstra-Logo.png"
       class="image-circle" alt="Telstra" height="120" width="160"></centre>
    
     </br><h3>Telstra Billing Portal</h3></br>
      <a href="/users/register" style="background-color: #00A7E8; color: white;" class="btn  btn-block mb-2"
        >Register</a
      >
      <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
    </div>
  </div>
</div>
